{% extends "base.html" %}
{% block title %}学生信息{% endblock %}
{% block content %}
    <h1 class="h1">学生信息</h1>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>Email</th>
            <th>最后一次登录时间</th>
            <th>评价</th>
             <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for student in lists %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.sname }}</td>
                <td>{{ student.sage }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.visit_date }}</td>
                <td>{{ student.desc }}</td>
                <td>
                    <button class="btn btn-primary btn-sm" type="button"  onclick="window.location.href='delete/{{ student.id }}/'">删除</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
